/* Estilo para o header */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilo para a navegação */
  nav {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    overflow: hidden;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #ddd;
  }
  
  /* Estilo para o conteúdo principal */
  main {
    padding: 20px;
  }

  .div-pai {
    display: flex;
    align-items: center;
  }
  
  .produtos {
    margin: auto;
  }
  .imagem-container {
    display: flex;
    height: 20rem;
    gap: 1rem;
}

.imagem-container > div {
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all .7s cubic-bezier(.25, .4, .45, 1.4);
}

.imagem-container > div:hover {
    flex: 5;
}

.titulo1{
  display: flex;
  align-items: center;
}

footer {
  background-color: #f2f2f2;
  padding: 20px;
  color: #000000;
  text-align: center;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.contact {
  flex: 1;
  text-align: left;
}

.contact h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.social-media {
  margin-top: 20px;
}

.button {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #333;
}

.button:active {
  transform: scale(0.95);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer-animation {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fade-in {
  0% {
    opacity: 0.2;
  }
  25% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.6;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

.fade-in span {
  opacity: 0;
}

.fade-in.fade-in-active span {
  animation: fade-in 1s;
  animation-fill-mode: forwards;
}

#home {
  display: flex;
  justify-content: center;
}